.main {
    margin-left: 245px; /* Same as the width of the sidenav */
}

.maincontent{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

.roletitle{
    font-size: 34px;
    font-family: roboto,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roledescription{ 
    font-family: roboto,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-top: 1%;
    margin-bottom: 3%;
}

.skillname{
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    background-color: #FFDBA5;
    padding: 1%;
    margin-top: 1%;
}

.coursename{
    font-family: roboto,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    width: 95;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 1%;

}

.course_desc{
    font-weight: 400;
    font-size: 18px;
    padding: 0%;
}

.createLJ{
    margin-top: 3%;
    margin-bottom: 2%;
    border-radius: 3px;
    padding: 1%;
    width: 15%;
    text-align: center;
    background-color: #190063;
    color: #FFDBA5;
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.errmsg{
    font-family: roboto, sans-serif;
    color: #f16262;
    font-weight: 500;
    font-size: 14px; 
}

.cancelLJ{
    margin-bottom: 8%;
    border-radius: 3px;
    padding: 1%;
    width: 10%;
    text-align: center;
    background-color: #f16262;
    color: #FFF;
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


/* responsive */ 
@media screen and (max-width: 768px) {
    .main{
        margin: 0%;
        height: 100%;
    }

    .roletitle{
        font-size: 28px;
    }

    .roledescription{
        font-size: 16px;
    }

    .skillname{
        font-size: 20px;
    }

    .coursename{
        font-size: 18px;
    }

    .course_desc{
        font-size: 14px;
    }

    .createLJ{
        font-size: 18px;
        width: 40%;
        border-radius: 3px;
    }

    .cancelLJ{
        font-size: 16px;
        width: 30%;
        border-radius: 3px;
    }

}