.main {
    margin-left: 245px; /* Same as the width of the sidenav */
}

.maincontent{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

.rolename{
    font-size: 34px;
    font-family: roboto,sans-serif;
    font-weight: 700;
    font-style: normal;
    border-bottom: 1px solid #DDDDDD;
}

.skillschosen{
    font-size: 28px;
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 1%;
}

.courseskill{
    font-size: 22px;
    font-family: roboto,sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 1%;
}

.skillname{
    margin-top:2%;
}

li{
    font-weight: 400;
    font-size:20px;
}

.createLJ{
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 3px;
    padding: 1%;
    width: 30%;
    text-align: center;
    background-color: #190063;
    color: #FFDBA5;
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cancelLJ{
    margin-bottom: 8%;
    border-radius: 3px;
    padding: 1%;
    width: 10%;
    text-align: center;
    background-color: #f16262;
    color: #FFF;
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


/* responsive */ 
@media screen and (max-width: 768px) {
    .main{
        margin: 0%;
    }

    .rolename{
        font-size: 28px;
    }

    .skillschosen{
        font-size: 24px;
    }

    .skillname{
        font-size: 20px;
    }

    li{
        font-size: 18px;
    }

    .createLJ{
        font-size: 18px;
        width: 70%;
        border-radius: 3px;
    }

    .cancelLJ{
        font-size: 16px;
        width: 30%;
        border-radius: 3px;
    }

}