.main {
    margin-left: 245px; /* Same as the width of the sidenav */
    margin-bottom: 10%;
}

.maincontent{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
}

.searchdiv{
    width: 80%;
    border:1px solid black;
    border-radius: 3px;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    text-align: left;
    margin-top: 5%;
}

.searchicon{
    padding-left: 3%;
}

li{
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

#myUL li a:hover:not(.header) {
    background-color: #FFDBA5;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
 
.searchOpt{
    text-align: left;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.searchrow{
    padding: 0%;
    width: 68%;
}

#myUL li a {
border: 1px solid black;
background-color: #f6f6f6;
padding: 12px;
text-decoration: none;
font-size: 18px;
color: black;
display: block
}

#myUL{
    display: none;
}

input{
    border: 0px solid;
    height: 100%;
    width: 80%;
    padding: 1.5%;
}

input:focus{
    outline: none;
}

::placeholder{
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #757575;
}

.rolesavail{
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.browseroles{
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    padding-bottom: 1%;
    border-bottom: 1px solid #BCBCBC;
}

.roleCol{
    border-bottom: 1px solid #DBDBDB;
    padding: 1.5%;
}

.roledeets{
    font-size: 20px;
    font-family: roboto,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.completed{
    color: #85c687;;
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    text-align: right;
    border-radius: 3px;
    padding: 1%;
    padding-right: 2%;
}

.notcompleted{
    color: #a9a9a9;
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    text-align: right;
    border-radius: 3px;
    padding: 1%;
    padding-right: 2%;
}

.ncompleted{
    text-align: center;
    /* width: 80%; */
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    background-color: #FFDBA5;
    color: #000;
    text-align: center;
    border-radius: 3px;
    padding: 3%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a{
    text-decoration: none;
    padding: 0%;
}

a:hover{
    text-decoration: none;
}


/* REMEMBER TO CHANGE THE JS ALSO!!!! FOR THE DISPLAY OF ALL ROLES */
/* responsiveness */
@-webkit-keyframes jittery {

    5%,
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    10% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
    }

    15% {
        -webkit-transform: scale(1.15);
                transform: scale(1.15);
    }

    20% {
        -webkit-transform: scale(1.15) rotate(-5deg);
                transform: scale(1.15) rotate(-5deg);
    }

    25% {
        -webkit-transform: scale(1.15) rotate(5deg);
                transform: scale(1.15) rotate(5deg);
    }

    30% {
        -webkit-transform: scale(1.15) rotate(-3deg);
                transform: scale(1.15) rotate(-3deg);
    }

    45% {
        -webkit-transform: scale(1.15) rotate(2deg);
                transform: scale(1.15) rotate(2deg);
    }

    60% {
        -webkit-transform: scale(1.15) rotate(0);
                transform: scale(1.15) rotate(0);
    }
}

@keyframes jittery {

    5%,
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    10% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
    }

    15% {
        -webkit-transform: scale(1.15);
                transform: scale(1.15);
    }

    20% {
        -webkit-transform: scale(1.15) rotate(-5deg);
                transform: scale(1.15) rotate(-5deg);
    }

    25% {
        -webkit-transform: scale(1.15) rotate(5deg);
                transform: scale(1.15) rotate(5deg);
    }

    30% {
        -webkit-transform: scale(1.15) rotate(-3deg);
                transform: scale(1.15) rotate(-3deg);
    }

    45% {
        -webkit-transform: scale(1.15) rotate(2deg);
                transform: scale(1.15) rotate(2deg);
    }

    60% {
        -webkit-transform: scale(1.15) rotate(0);
                transform: scale(1.15) rotate(0);
    }
}

@media screen and (max-width: 768px) {
    .main{
        margin: 0%;
    }

    .searchicon{
        width:10%;
    }

    .maincontent{
        margin-top: 5%;
    }

    .browseroles{
        font-size: 18px;
    }

    ::placeholder{
        font-size: 16px;
    }

    .logoimg{
        width: 70%;
    }
    
    .roledeets{
        font-size: 18px;
    }

    .completed{
        font-size: 14px;
        /* width: 55%; */
        padding: auto;
    }

    .ncompleted{
        font-size: 14px;
        /* width: 55%; */
        padding: auto;
        width: 100%;
    }

    .notcompleted{
        font-size: 14px;
        text-align: left;
        font-weight: 500;
        padding-top: 1%;
        padding-left: 5%;
    }

    .allroles{
        width: 100%;
    }

    .row{
        padding: 2%;
    }

    .navitem{
        font-size: 20px;
    }

    .searchdiv{
        width:90%;
    }

    #myUL li a{
        font-size: 14px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}