.alert {
    padding: 20px;
    background-color: #fff;
    opacity: 1;
    color: black;
    width: 350px;
    border-radius: 4px;
    border: 1px solid #FFDBA5;
}
  
.closebtn {
    /* margin-left: 5px; */
    margin-top: 5px;
    color: #190063;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: #FFDBA5;
}

.alert-header{
    padding-bottom: 1%;
    border-bottom: 1px solid #cecece;
}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 1s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 1s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 1s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 1s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}