.main {
    margin-left: 245px; /* Same as the width of the sidenav */
}

.maincontent{
    margin-top: 7%;
    margin-left: 5%;
    width: 90%;
}

.settingsContainer{
    margin-top: 3%;
}

.title{
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
}

.name{
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin-top: 2%;
}

.depty{
    font-family: roboto, sans-serif;
    font-style: italic;
    font-size: 24px;
    color: #190063;
    margin-left: 3%;
    font-weight: 400;
}

.email{
    font-family: roboto, sans-serif;
    font-size: 26px;
    font-style: italic;
    margin-top: 1%;
}

.settings{
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    border-bottom: 1px solid #BCBCBC;
    /* width: 90%; */
}

.row{
    margin-top: 2%;
}

.skillname{
    font-family: roboto, sans-serif;
    font-size: 24px;
}

.col-3{
    text-align: center;
}

.skillrow{
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 1%;
}


.attained{
    width:90%;
    border-radius: 3px;
    padding: 1%;
    background-color: #85c687;
    font-family: roboto, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.skilltitle{
    font-family: roboto, sans-serif;
    font-size: 28px;
    margin-top: 3%;
    font-weight: 600;
    border-bottom: 1px solid #dbdbdb;
    /* width: 90%; */
}

.noValue{
    font-family: roboto, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #190063;
}

@media screen and (max-width: 768px) {
    .main{
        margin: 0%;
    }
    .navitem{
        font-size: 20px;
    }

    .title{
        font-size: 24px;
    }

    .name{
        font-size: 24px;
    }

    .dept{
        font-size: 18px;
    }

    .email{
        font-size: 20px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}